{% extends "layout.html "%}
    {% block content %}
    <head>
        <script src="https://kit.fontawesome.com/6338816c5c.js" crossorigin="anonymous"></script>
    </head>
    <style>
            .p1 {
            font-family:monospace;
            }
        .center {
            margin: auto;
            width: 45%;
            border: 3px solid #F7D08A;
            padding: 10px;
            background-color: #fff2f2;
            height: 280px;
        }
</style>
    </style>
        <title>Diary</title>
        <div align="center" class="p1">
            <p  style="font-size: xxx-large; ">Contact me</p>
            <hr>
        </div class="p1">
            <div  class="center">
                <p style="font-size: x-large;">Apinop soisuwan</p>
<pre>
    <i class="fas fa-phone"></i> : (+66) 83-5661968 

    <i class="fas fa-envelope"></i> : apinop.soisuwan@gmail.com

    <i class="fab fa-linkedin"></i> : <a href="https://www.linkedin.com/in/apinop-soisuwan-9634491ab" style="color: black;">click</a> 

    <i class="fas fa-blog"></i> : <a href="https://www.linkedin.com/in/apinop-soisuwan-9634 491ab" style="color: black;">click</a> 

    <i class="fab fa-github-alt"></i> : <a href="https://github.com/ApinopSoisuwan/" style="color: black;">click</a> 
</pre>

                
            </div>
        
        

        

    {% endblock %}