{% extends "layout.html "%}
    {% block content %}   
    <style>
        .p1 {
          font-family:monospace;
        }
        .box {
            inline-size: 150px;
            overflow-wrap: break-word;
        }
        .center {
        margin: auto;
        width: 50%;
        border: 3px solid #FCDEC0;
        padding: 10px;
        }
    
            
    </style>
<body>
            <p class="p1" style="font-size: x-large; " align="center" >About me</p>
            <hr>
<pre class="p1" align="center">
    hello, I'm earth who loves to enjoy to coding and loving to challenge myself every time,
    I spent a lot of time for practice and learning how to good coding and loving update new technology every time,
    I want to get better and better.
</pre>
            <p class="p1 " style="font-size: x-large; " align="center" >Objective</p>
            <hr>
            <div class="center p1" >
                <p> Teach myself in 2021 until 2022 (update 18/12/2021) </p>
                <p>>Language</p>
                <pre style="color: brown;" class="p1">
    Python <i data-feather="check"></i>                          
    Automation Anywhere <i data-feather="check"></i>
    JavaScript <i data-feather="x-circle"></i> (Progess)
                </pre>
                <p >>Framework</p>
                <pre style="color: brown;" class="p1">
    Django <i data-feather="check"></i>  
                </pre>
                <p ></p>>Tootls</p>
                <pre style="color: brown;" class="p1">
    Selennium <i data-feather="x-circle"></i> (Progess)
                </pre>
            </div>
    <script>
        feather.replace() 
    </script>   
</body>  
    {% endblock %}